.customPagination {
    :global {
        
        .MuiTablePagination-actions {
            display: none !important;
        }
        .css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input{
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 12px !important;
        }
        .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
            background-color: #2e7d32;
            color: #fff;
        }
        .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover{
            background-color: #138300;
        }
    }
}